h2 {
	font-size:15px;
	margin:2px 0 7px 0;
}
p{
	padding:0px;
	margin:0 0 5px 0;
}
#main{
	background: url(../images/kitchen.jpg);
	margin:0px auto;
	width:1000px;
	height:600px;
	position:relative;
	}
	canvas { border:1px solid black;}
#rezeptBuch{
	xbackground: url(../images/Rezeptbuch.png);
	border:1px #000 dashed;
	width:700px;
	min-height:500px;
	position:absolute;
	left:50%;
	top:20px;
	margin-left:-350px;
	}
#rezeptDetails{
	xbackground:url(../images/Rezept.gif);
	border:1px dotted red;
	width:350px;
	position:absolute;
	left:20px;
	top:20px;
	display:none;
	}